<% flash.each do |type, msg| %>
  <div class="alert alert-danger" >
    <%= msg %>
  </div>
<% end %>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Grupos</h2>
        </div>

        <div class="col-md-6 aa">
            <%=link_to "Crear grupo", new_group_path, class:"btn btn-outline-success btn-sm create-button"%>
        </div>
    </div>
</div>
        


<div class="container-table">    
    <table class="table table-hover">
        <thead>
            <tr>            
                <th scope="col">Nombre</th>                             
            </tr>
        </thead>
        <tbody>
            <%@groups.each do |group|%>
                <tr>
                    <td><%=group.name%></td>                    
                    <td>
                        <%=link_to "Detalles", group, class:"btn btn-outline-success btn-sm"%> 
                        <%=link_to "Editar", edit_group_path(group), class:"btn btn-outline-success btn-sm "%>
                        <%=link_to "Eliminar", group, method: :delete ,data:{confirm:"Seguro de que quieres eliminar"}, class:"btn btn-outline-success btn-sm"%>
                    </td>                             
                </tr>                    
            <%end%>                        
        </tbody>
    </table> 
</div>


    


        








