<div class="titulos">
    <h1>Alta grupo</h1 >
</div>



<div class="padre">
    <div class="form-new">
        
        <%=form_for @group do |f| %>
            <p><%=f.label "Nombre del grupo: "%>
            <%=f.text_field :name%></p>

            <p><%=f.label "Estilo muscial del grupo: "%>
            <%=f.text_field :musical_style%></p>
            

            <%=f.submit "Crear", class:"btn btn-outline-dark create-button"%>
        
        <%end%>
    </div>

</div>

