
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Canciones</h2>
            </div>
            <div class="col-md-6">
                <%=link_to "Crear canción", new_song_path, class:"btn btn-outline-dark create-button"%>
            </div>
        </div>
    </div>

    


<div class="container-table">    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Fecha de publicación</th>
                <th>Album al que pertenece</th>
                        
            </tr>
        </thead>
        <tbody>                    
            <%@songs.each do |song|%>
                <tr>
                    <td><%=song.id%>
                    <td><%=song.name%></td>
                    <td><%=song.publication_date%></td>
                    <td><%=song.album.name%></td>
                    <td>
                        <%=link_to "mostrar", song, class:"btn btn-outline-success"%>
                        <%=link_to "Editar", edit_song_path(song), class:"btn btn-outline-success "%>
                        <%=link_to "Eliminar", song, method: :delete ,data:{confirm:"Seguro de que quieres eliminar"}, class:"btn btn-outline-success"%>                                          
                    </td>                                         
                </tr>                                
            <%end%>                                    
        </tbody>    
    </table>
</div>   