<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Conciertos</h1>
        </div>
        <div class="col-md-6">
            <%=link_to "Crear concierto", new_concert_path,class:"btn btn-outline-dark create-button"%>
        </div>
    </div>
</div>



<div class="container-table">    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Grupo</th>           
            </tr>
        </thead>
        <tbody>            
            <%@concerts.each do |concert|%>
                <tr>
                    <td><%=concert.id%>
                    <td><%=concert.place%>
                    <td><%=concert.concert_date%></td>
                    <td><%=concert.group.name%></td>
                    <td>
                        <%=link_to "mostrar", concert%>
                        <%=link_to "Editar", edit_concert_path(concert)%>
                        <%=link_to "Eliminar",concert_path(concert),method: "DELETE", data:{confirm:"Seguro de que quieres eliminar"}%>
                    </td>                               
                </tr>                        
            <%end%>                            
        </tbody>                
    </table>    
</div>



