<div class="padre">
    <div class="form-new">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Lugar</th>
                    <th>Fecha</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                <td><%=@concert.id%></td>
                <td><%=@concert.place%></td>
                <td><%=@concert.concert_date%></td>
                <td><%=@concert.group.name%></td>
            </tbody>
        </table>
    </div>
</div>

    


<%=link_to "Volver atrás",concerts_path, class:"btn btn-outline-dark create-button"%>