<div class="padre">
    <div class="form-new">
        <%=form_for @album do |f|%>

            <p><%=f.label "Nombre: "%>
            <%=f.text_field :name%></p>

            <p><%=f.label "Estilo musical: "%>
            <%=f.text_field :musical_style%></p>

            <p><%=f.label "Fecha: "%>
            <%=f.text_field :publication_date%></p>

            <p><%=f.label "Nombre del grupo: "%>
            <%=f.select :group_id,options_from_collection_for_select(@groups,'id','name')%></p>

            <p><%=f.submit "Actualizar"%></p>
        <%end%>
    </div>
</div>