
<!-- <%flash.each do |msg|%>
    <%=content_tag :div, msg%>


<%end%> -->

<% flash.each do |type, msg| %>
  <div class="alert alert-danger"> 
    <%= msg %>
  </div>
<% end %>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Albums</h2>
        </div>
        <div class="col-md-6">
            <%=link_to "Crear Album", new_album_path, class:"btn btn-outline-dark create-button"%>
        </div>
    </div>
</div>


<div class="container-table">    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Estilo musical</th>
                <th>Fecha</th>
                <th>Grupo</th>                    
            </tr>
        </thead>
        <tbody>            
            <%@albums.each do |album|%>
                <tr>
                    <td><%=album.id%>
                    <td><%=album.name%></td>
                    <td><%=album.musical_style%></td>
                    <td><%=album.publication_date%></td>
                    <td><%=album.group.name%></td>
                    <td>
                        <%=link_to "mostrar", album%>
                        <%=link_to "Editar", edit_album_path(album)%>  
                        <%=link_to "Eliminar", album, method: :delete,data:{confirm:"Seguro de que quieres eliminar este Album?"}%>
                    </td>                          
                </tr>                        
            <%end%>                            
        </tbody>                
    </table>       
</div>