<div class="padre">
    <div class="form-new">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Estilo musical</th>
                    <th>Fecha de Lanzamiento</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                <td><%=@album.id%></td>
                <td><%=@album.name%></td>
                <td><%=@album.musical_style%></td>
                <td><%=@album.publication_date%></td>
                <td><%=@album.group.name%></td>
            </tbody>
        </table>
    </div>
</div>

<%=link_to "Volver atrás",albums_path, class:"btn btn-outline-dark create-button"%> 