
<header class="masthead mb-auto cabecera-nav">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="<%=groups_path%>">Grupos</a>
      <a class="nav-link active" href="<%=members_path%>">Miembros</a>
      <a class="nav-link active" href="<%=concerts_path%>">Conciertos</a>
      <a class="nav-link active" href="<%=albums_path%>">Albums</a>
      <a class="nav-link active" href="<%=songs_path%>">Canciones</a>     

    </nav>          
  </div>
</header>



