

<div class="padre">
    <div class="form-new">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Ocupación</th>
                    <th>DNI</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                <td><%=@member.id%></td>
                <td><%=@member.name%></td>
                <td><%=@member.surname%></td>
                <td><%=@member.ocupation%></td>
                <td><%=@member.dni%></td>
                <td><%=@member.group.name%></td>
            </tbody>
        </table>
    </div>
</div>
    <%=link_to "Volver atrás",members_path, class:"btn btn-outline-dark create-button"%> 
